a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 30px;
}
ul {
  list-style: none;
  display: flex;
}
ul li a {
  margin-right: 1rem;
}
.spacer {
  width: 100%;
}
