<mat-toolbar color="primary">
  <mat-icon style="cursor: pointer" (click)="onToggle()">menu</mat-icon>
  <div class="spacer"></div>
  <div class="logo">
    <a routerLink="/">MY CRUD</a>
  </div>
  <!-- <div>
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">
          Create Post
        </a>
      </li> -->
  <!-- <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">
          Login
        </a>
      </li>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">
          Sign Up
        </a>
      </li> -->
  <!-- </ul>
  </div> -->
</mat-toolbar>
