<app-header (toggleSidenav)="opened = !opened"></app-header>
<mat-sidenav-container style="float: left">
  <mat-sidenav mode="side" [(opened)]="opened">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="mat-primary"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Post List
    </a>
    <br />
    <a mat-button routerLink="/create" routerLinkActive="mat-primary">
      Create Post
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<main>
  <mat-spinner *ngIf="loading"></mat-spinner>
</main>
