mat-form-field {
  width: 100%;
}
textarea {
  width: 100%;
}
mat-error {
  font-size: 1rem;
}
mat-form-field {
  margin-bottom: 1rem;
}
input {
  height: 1.2rem;
}
mat-spinner {
  margin: auto;
  margin-top: 5rem;
}
.btn-img {
  margin-bottom: 1rem;
  // background-color: rgb(243, 190, 43);
}
.img-preview {
  height: 15rem;
  margin: 1rem 0;
}
.img-preview img {
  height: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #505050;
}
mat-card {
  width: 500px;
  margin: 3rem auto;
}
