<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<mat-card *ngIf="!(loading$ | async)">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        formControlName="title"
        name="title"
        placeholder="Add a title"
        matInput
        type="text"
      />
      <mat-error *ngIf="form.get('title'); invalid"
        >Please enter a post title</mat-error
      >
    </mat-form-field>
    <div
      class="img-preview"
      *ngIf="imgPreview !== '' && imgPreview && form.get('image').valid"
    >
      <img [src]="imgPreview" [alt]="form.value.title" />
    </div>

    <input
      (change)="onPickImg($event)"
      style="display: none"
      type="file"
      #uploadImg
    />
    <button
      class="btn-img"
      mat-raised-button
      [color]="'accent'"
      type="button"
      (click)="uploadImg.click()"
    >
      Image
    </button>

    <mat-form-field>
      <textarea
        formControlName="content"
        name="content"
        placeholder="Enrich with some content"
        rows="4"
        matInput
      ></textarea>
      <mat-error *ngIf="this.form.get('content').invalid"
        >Please enter a post content</mat-error
      >
    </mat-form-field>
    <button
      class="btn-submit"
      [disabled]="!form.valid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Submit
    </button>
  </form>
</mat-card>
