:host {
  display: block;
  margin-top: 1rem;
}
.no-posts-message {
  text-align: center;
  font-size: 1rem;
  margin-top: 5rem;
}
p {
  color: rgb(119, 119, 119);
}
mat-spinner {
  margin: auto;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.search-full-width {
  width: 100%;
}

.date {
  font-size: 14px;
  color: #777777;
  margin-top: 2rem;
  font-style: italic;
}
